In [37]:
import pandas as pd


df_training = pd.read_csv('training.csv')
df_training

df_test = pd.read_csv('test.csv')

In [24]:
users = df['user_id'].unique()

In [25]:
users

array([ 85818, 112161, 154786, ...,  58569, 131842,  52513])

In [26]:
len(users)

179106

In [27]:
len(df_training)

4851475

In [28]:
print(len(df_training)/len(users))

27.087171842372673

In [32]:
df_user_1 = pd.DataFrame(df_training.loc[df_training['user_id'] == 85818])

In [33]:
df_user_1

,correct,outcome,user_id,question_id,question_type,group_name,track_name,subtrack_name,tag_string,round_started_at,answered_at,deactivated_at,answer_id,game_type,num_players,date_of_test,question_set_id
0,0,2,85818,5560,0,1,5,14,222 233 240 246,2010-08-18 20:17:13,2010-08-18 20:18:18,2010-08-18 20:18:18,6540,7,1,NaN,1567
1,1,1,85818,4681,0,1,5,0,24 49,2010-08-18 20:19:12,2010-08-18 20:20:34,2010-08-18 20:20:34,4742,7,1,NaN,1227
2,1,1,85818,1529,0,1,5,0,31 49,2010-08-18 20:20:42,2010-08-18 20:21:56,2010-08-18 20:21:56,4309,7,1,NaN,1148
3,1,1,85818,2908,0,1,5,0,31 49,2010-08-18 20:22:03,2010-08-18 20:23:05,2010-08-18 20:23:05,4408,7,1,NaN,1168
4,1,1,85818,1773,0,1,5,11,183 194 207,2010-08-18 20:23:11,2010-08-18 20:26:08,2010-08-18 20:26:08,10822,7,1,NaN,2318
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,1,1,85818,4873,0,1,4,9,4 14 77 148 161 251,2010-08-24 19:09:57,2010-08-24 19:10:26,2010-08-24 19:11:08,8943,4,2,NaN,2045
311,1,1,85818,4721,0,1,4,9,14 68 71 135 161,2010-08-24 19:13:05,2010-08-24 19:14:35,2010-08-24 19:14:36,10168,4,2,NaN,2259
312,1,1,85818,3560,0,1,4,9,14 135 161 251,2010-08-24 19:14:40,2010-08-24 19:16:35,2010-08-24 19:16:35,10173,4,2,NaN,2260
313,0,2,85818,4482,0,1,4,9,4 14 71 108 135 161,2010-08-24 19:16:39,2010-08-24 19:18:51,2010-08-24 19:18:51,10184,4,2,NaN,2262
314,1,1,85818,2011,0,1,4,9,4 68 71 161 262,2010-08-24 19:19:26,2010-08-24 19:20:49,2010-08-24 19:20:50,10191,4,2,NaN,2263

In [35]:
df_user_1_correct = df_user_1.loc[df_user_1['outcome'] == 1]
df_user_1_correct

,correct,outcome,user_id,question_id,question_type,group_name,track_name,subtrack_name,tag_string,round_started_at,answered_at,deactivated_at,answer_id,game_type,num_players,date_of_test,question_set_id
1,1,1,85818,4681,0,1,5,0,24 49,2010-08-18 20:19:12,2010-08-18 20:20:34,2010-08-18 20:20:34,4742,7,1,NaN,1227
2,1,1,85818,1529,0,1,5,0,31 49,2010-08-18 20:20:42,2010-08-18 20:21:56,2010-08-18 20:21:56,4309,7,1,NaN,1148
3,1,1,85818,2908,0,1,5,0,31 49,2010-08-18 20:22:03,2010-08-18 20:23:05,2010-08-18 20:23:05,4408,7,1,NaN,1168
4,1,1,85818,1773,0,1,5,11,183 194 207,2010-08-18 20:23:11,2010-08-18 20:26:08,2010-08-18 20:26:08,10822,7,1,NaN,2318
5,1,1,85818,3170,0,1,5,11,201 207,2010-08-18 20:26:17,2010-08-18 20:26:43,2010-08-18 20:26:43,12850,7,2,NaN,2318
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,1,1,85818,5649,0,1,4,9,4 14 20 71 161 251 258,2010-08-24 19:09:06,2010-08-24 19:09:40,2010-08-24 19:09:44,10151,4,2,NaN,2256
310,1,1,85818,4873,0,1,4,9,4 14 77 148 161 251,2010-08-24 19:09:57,2010-08-24 19:10:26,2010-08-24 19:11:08,8943,4,2,NaN,2045
311,1,1,85818,4721,0,1,4,9,14 68 71 135 161,2010-08-24 19:13:05,2010-08-24 19:14:35,2010-08-24 19:14:36,10168,4,2,NaN,2259
312,1,1,85818,3560,0,1,4,9,14 135 161 251,2010-08-24 19:14:40,2010-08-24 19:16:35,2010-08-24 19:16:35,10173,4,2,NaN,2260
314,1,1,85818,2011,0,1,4,9,4 68 71 161 262,2010-08-24 19:19:26,2010-08-24 19:20:49,2010-08-24 19:20:50,10191,4,2,NaN,2263

In [36]:
df_user_1_incorrect = df_user_1.loc[df_user_1['outcome'] == 2]
df_user_1_incorrect

,correct,outcome,user_id,question_id,question_type,group_name,track_name,subtrack_name,tag_string,round_started_at,answered_at,deactivated_at,answer_id,game_type,num_players,date_of_test,question_set_id
0,0,2,85818,5560,0,1,5,14,222 233 240 246,2010-08-18 20:17:13,2010-08-18 20:18:18,2010-08-18 20:18:18,6540,7,1,NaN,1567
25,0,2,85818,5231,0,1,5,14,221 224 227 241 246,2010-08-20 15:03:11,2010-08-20 15:04:36,2010-08-20 15:04:45,5793,7,3,NaN,1421
26,0,2,85818,3655,0,1,5,14,227 235 241 246,2010-08-20 15:07:15,2010-08-20 15:08:41,2010-08-20 15:08:41,5787,7,3,NaN,1420
29,0,2,85818,3797,0,1,5,14,227 236 241 246,2010-08-20 15:11:22,2010-08-20 15:12:36,2010-08-20 15:12:59,5768,7,3,NaN,1416
31,0,2,85818,3989,0,1,5,14,224 227 228 246,2010-08-20 15:16:29,2010-08-20 15:18:08,2010-08-20 15:18:22,5755,7,3,NaN,1414
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,0,2,85818,841,0,1,5,14,222 224 246,2010-08-24 04:40:39,2010-08-24 04:41:52,2010-08-24 04:42:33,7863,4,4,NaN,1820
294,0,2,85818,2488,0,1,5,0,29 49,2010-08-24 11:46:55,2010-08-24 11:48:01,2010-08-24 11:48:34,4683,7,4,NaN,1217
296,0,2,85818,5076,0,1,5,0,26 31 49,2010-08-24 11:52:14,2010-08-24 11:54:09,2010-08-24 11:54:09,4451,7,3,NaN,1175
298,0,2,85818,12,0,1,5,0,31 49,2010-08-24 11:57:56,2010-08-24 11:59:50,2010-08-24 12:00:25,4424,7,3,NaN,1170
313,0,2,85818,4482,0,1,4,9,4 14 71 108 135 161,2010-08-24 19:16:39,2010-08-24 19:18:51,2010-08-24 19:18:51,10184,4,2,NaN,2262

In [54]:
testList = []
for tag in df_user_1_incorrect['tag_string']:
    testList.append(tag)
testList2 = []

for i in testList:
    for j in i.split():
        testList2.append(j)

In [55]:
testList2

['222',
 '233',
 '240',
 '246',
 '221',
 '224',
 '227',
 '241',
 '246',
 '227',
 '235',
 '241',
 '246',
 '227',
 '236',
 '241',
 '246',
 '224',
 '227',
 '228',
 '246',
 '227',
 '228',
 '241',
 '246',
 '226',
 '228',
 '240',
 '246',
 '227',
 '246',
 '26',
 '30',
 '49',
 '31',
 '49',
 '189',
 '207',
 '189',
 '207',
 '201',
 '207',
 '182',
 '192',
 '207',
 '201',
 '207',
 '189',
 '207',
 '201',
 '207',
 '189',
 '207',
 '24',
 '49',
 '31',
 '49',
 '227',
 '238',
 '241',
 '246',
 '201',
 '207',
 '193',
 '207',
 '219',
 '228',
 '236',
 '237',
 '246',
 '225',
 '226',
 '240',
 '246',
 '26',
 '31',
 '49',
 '222',
 '224',
 '228',
 '246',
 '219',
 '226',
 '230',
 '233',
 '240',
 '246',
 '227',
 '228',
 '240',
 '246',
 '24',
 '49',
 '222',
 '224',
 '233',
 '246',
 '228',
 '238',
 '246',
 '224',
 '227',
 '233',
 '246',
 '224',
 '227',
 '233',
 '246',
 '219',
 '233',
 '237',
 '246',
 '233',
 '240',
 '246',
 '219',
 '222',
 '229',
 '240',
 '246',
 '238',
 '240',
 '246',
 '224',
 '228',
 '246',
 '228',
 '233',
 '240',
 '246',
 '222',
 '228',
 '232',
 '246',
 '224',
 '233',
 '238',
 '241',
 '246',
 '224',
 '227',
 '246',
 '226',
 '228',
 '238',
 '241',
 '246',
 '227',
 '238',
 '246',
 '219',
 '222',
 '229',
 '246',
 '222',
 '224',
 '228',
 '229',
 '246',
 '222',
 '227',
 '228',
 '232',
 '235',
 '246',
 '222',
 '232',
 '233',
 '238',
 '241',
 '246',
 '220',
 '233',
 '238',
 '246',
 '227',
 '228',
 '241',
 '246',
 '30',
 '49',
 '224',
 '233',
 '238',
 '246',
 '229',
 '238',
 '240',
 '241',
 '246',
 '228',
 '238',
 '246',
 '228',
 '240',
 '246',
 '224',
 '228',
 '238',
 '241',
 '246',
 '219',
 '236',
 '238',
 '246',
 '27',
 '49',
 '219',
 '227',
 '230',
 '246',
 '28',
 '49',
 '24',
 '49',
 '31',
 '49',
 '14',
 '52',
 '68',
 '135',
 '205',
 '4',
 '14',
 '161',
 '203',
 '205',
 '279',
 '52',
 '82',
 '271',
 '14',
 '52',
 '71',
 '74',
 '135',
 '226',
 '228',
 '241',
 '246',
 '220',
 '224',
 '227',
 '228',
 '246',
 '224',
 '233',
 '238',
 '241',
 '246',
 '233',
 '246',
 '219',
 '230',
 '240',
 '246',
 '226',
 '233',
 '246',
 '219',
 '230',
 '240',
 '246',
 '224',
 '227',
 '241',
 '246',
 '228',
 '233',
 '240',
 '241',
 '246',
 '227',
 '228',
 '233',
 '246',
 '228',
 '233',
 '241',
 '246',
 '233',
 '246',
 '233',
 '240',
 '246',
 '228',
 '246',
 '222',
 '224',
 '246',
 '29',
 '49',
 '26',
 '31',
 '49',
 '31',
 '49',
 '4',
 '14',
 '71',
 '108',
 '135',
 '161']

In [59]:
user1_dict = {}

In [61]:
for i in testList2:
    if i in user1_dict:
        val = user1_dict.get(i)
        user1_dict.update({i:val+1})
    else:
        user1_dict.update({i:1})

In [62]:
print(len(testList2))
print(len(user1_dict))

303
48

In [67]:
user1_dict
user1_dict_sorted = sorted(user1_dict.items(), key=lambda x:x[1])
#print(user1_dict_sorted)
user1_dict_sorted

[('221', 1),
 ('182', 1),
 ('192', 1),
 ('193', 1),
 ('225', 1),
 ('27', 1),
 ('28', 1),
 ('68', 1),
 ('203', 1),
 ('279', 1),
 ('82', 1),
 ('271', 1),
 ('74', 1),
 ('29', 1),
 ('108', 1),
 ('235', 2),
 ('30', 2),
 ('237', 2),
 ('220', 2),
 ('205', 2),
 ('4', 2),
 ('161', 2),
 ('71', 2),
 ('236', 3),
 ('26', 3),
 ('24', 3),
 ('232', 3),
 ('52', 3),
 ('135', 3),
 ('189', 4),
 ('201', 4),
 ('230', 4),
 ('229', 4),
 ('14', 4),
 ('226', 6),
 ('31', 6),
 ('219', 9),
 ('222', 10),
 ('207', 10),
 ('49', 14),
 ('238', 14),
 ('240', 15),
 ('224', 16),
 ('241', 16),
 ('227', 18),
 ('233', 20),
 ('228', 23),
 ('246', 57)]