In [92]:
import pandas as pd


df_training = pd.read_csv('training.csv')
df_training

df_test = pd.read_csv('test.csv')
df_test_sorted = pd.read_csv('test_sorted.csv')

#### Get unique users

In [93]:
users = df['user_id'].unique()

In [94]:
users

array([ 85818, 112161, 154786, ...,  58569, 131842,  52513])

In [95]:
#Number of users
len(users)

179106

In [96]:
len(df_training)

4851475

In [97]:
#Average number of questions per user, probably not relevant
print(len(df_training)/len(users))

27.087171842372673

### Checking just the first user for testing purposes 
This will be the basis for later looping through each users

In [98]:
df_user_1 = pd.DataFrame(df_training.loc[df_training['user_id'] == 85818])

In [99]:
df_user_1

,correct,outcome,user_id,question_id,question_type,group_name,track_name,subtrack_name,tag_string,round_started_at,answered_at,deactivated_at,answer_id,game_type,num_players,date_of_test,question_set_id
0,0,2,85818,5560,0,1,5,14,222 233 240 246,2010-08-18 20:17:13,2010-08-18 20:18:18,2010-08-18 20:18:18,6540,7,1,NaN,1567
1,1,1,85818,4681,0,1,5,0,24 49,2010-08-18 20:19:12,2010-08-18 20:20:34,2010-08-18 20:20:34,4742,7,1,NaN,1227
2,1,1,85818,1529,0,1,5,0,31 49,2010-08-18 20:20:42,2010-08-18 20:21:56,2010-08-18 20:21:56,4309,7,1,NaN,1148
3,1,1,85818,2908,0,1,5,0,31 49,2010-08-18 20:22:03,2010-08-18 20:23:05,2010-08-18 20:23:05,4408,7,1,NaN,1168
4,1,1,85818,1773,0,1,5,11,183 194 207,2010-08-18 20:23:11,2010-08-18 20:26:08,2010-08-18 20:26:08,10822,7,1,NaN,2318
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,1,1,85818,4873,0,1,4,9,4 14 77 148 161 251,2010-08-24 19:09:57,2010-08-24 19:10:26,2010-08-24 19:11:08,8943,4,2,NaN,2045
311,1,1,85818,4721,0,1,4,9,14 68 71 135 161,2010-08-24 19:13:05,2010-08-24 19:14:35,2010-08-24 19:14:36,10168,4,2,NaN,2259
312,1,1,85818,3560,0,1,4,9,14 135 161 251,2010-08-24 19:14:40,2010-08-24 19:16:35,2010-08-24 19:16:35,10173,4,2,NaN,2260
313,0,2,85818,4482,0,1,4,9,4 14 71 108 135 161,2010-08-24 19:16:39,2010-08-24 19:18:51,2010-08-24 19:18:51,10184,4,2,NaN,2262
314,1,1,85818,2011,0,1,4,9,4 68 71 161 262,2010-08-24 19:19:26,2010-08-24 19:20:49,2010-08-24 19:20:50,10191,4,2,NaN,2263

### What questions did user 1 get correct?

In [100]:
df_user_1_correct = df_user_1.loc[df_user_1['outcome'] == 1]
#df_user_1_correct

### What questions did user 1 get incorrect?
This will arguably be more important but I have to think about it some more first

In [101]:
df_user_1_incorrect = df_user_1.loc[df_user_1['outcome'] == 2]
#df_user_1_incorrect

### Getting a list of tag strings for all the incorrect answers from user 1
Each question has a tag string that corresponds to what category that question falls into. This will be useful later

In [102]:
testList = []
for tag in df_user_1_incorrect['tag_string']:
    testList.append(tag)
testList2 = []

for i in testList:
    for j in i.split():
        testList2.append(j)

In [103]:
testList2

['222',
 '233',
 '240',
 '246',
 '221',
 '224',
 '227',
 '241',
 '246',
 '227',
 '235',
 '241',
 '246',
 '227',
 '236',
 '241',
 '246',
 '224',
 '227',
 '228',
 '246',
 '227',
 '228',
 '241',
 '246',
 '226',
 '228',
 '240',
 '246',
 '227',
 '246',
 '26',
 '30',
 '49',
 '31',
 '49',
 '189',
 '207',
 '189',
 '207',
 '201',
 '207',
 '182',
 '192',
 '207',
 '201',
 '207',
 '189',
 '207',
 '201',
 '207',
 '189',
 '207',
 '24',
 '49',
 '31',
 '49',
 '227',
 '238',
 '241',
 '246',
 '201',
 '207',
 '193',
 '207',
 '219',
 '228',
 '236',
 '237',
 '246',
 '225',
 '226',
 '240',
 '246',
 '26',
 '31',
 '49',
 '222',
 '224',
 '228',
 '246',
 '219',
 '226',
 '230',
 '233',
 '240',
 '246',
 '227',
 '228',
 '240',
 '246',
 '24',
 '49',
 '222',
 '224',
 '233',
 '246',
 '228',
 '238',
 '246',
 '224',
 '227',
 '233',
 '246',
 '224',
 '227',
 '233',
 '246',
 '219',
 '233',
 '237',
 '246',
 '233',
 '240',
 '246',
 '219',
 '222',
 '229',
 '240',
 '246',
 '238',
 '240',
 '246',
 '224',
 '228',
 '246',
 '228',
 '233',
 '240',
 '246',
 '222',
 '228',
 '232',
 '246',
 '224',
 '233',
 '238',
 '241',
 '246',
 '224',
 '227',
 '246',
 '226',
 '228',
 '238',
 '241',
 '246',
 '227',
 '238',
 '246',
 '219',
 '222',
 '229',
 '246',
 '222',
 '224',
 '228',
 '229',
 '246',
 '222',
 '227',
 '228',
 '232',
 '235',
 '246',
 '222',
 '232',
 '233',
 '238',
 '241',
 '246',
 '220',
 '233',
 '238',
 '246',
 '227',
 '228',
 '241',
 '246',
 '30',
 '49',
 '224',
 '233',
 '238',
 '246',
 '229',
 '238',
 '240',
 '241',
 '246',
 '228',
 '238',
 '246',
 '228',
 '240',
 '246',
 '224',
 '228',
 '238',
 '241',
 '246',
 '219',
 '236',
 '238',
 '246',
 '27',
 '49',
 '219',
 '227',
 '230',
 '246',
 '28',
 '49',
 '24',
 '49',
 '31',
 '49',
 '14',
 '52',
 '68',
 '135',
 '205',
 '4',
 '14',
 '161',
 '203',
 '205',
 '279',
 '52',
 '82',
 '271',
 '14',
 '52',
 '71',
 '74',
 '135',
 '226',
 '228',
 '241',
 '246',
 '220',
 '224',
 '227',
 '228',
 '246',
 '224',
 '233',
 '238',
 '241',
 '246',
 '233',
 '246',
 '219',
 '230',
 '240',
 '246',
 '226',
 '233',
 '246',
 '219',
 '230',
 '240',
 '246',
 '224',
 '227',
 '241',
 '246',
 '228',
 '233',
 '240',
 '241',
 '246',
 '227',
 '228',
 '233',
 '246',
 '228',
 '233',
 '241',
 '246',
 '233',
 '246',
 '233',
 '240',
 '246',
 '228',
 '246',
 '222',
 '224',
 '246',
 '29',
 '49',
 '26',
 '31',
 '49',
 '31',
 '49',
 '4',
 '14',
 '71',
 '108',
 '135',
 '161']

In [104]:
user1_dict = {}

In [105]:
for i in testList2:
    if i in user1_dict:
        val = user1_dict.get(i)
        user1_dict.update({i:val+1})
    else:
        user1_dict.update({i:1})

In [106]:
print(len(testList2))
print(len(user1_dict))

303
48

### Counting which tag ID's appeared in the incorrect questions, ordered from least to most appearances

In [107]:
user1_dict
user1_dict_sorted = sorted(user1_dict.items(), key=lambda x:x[1])
#print(user1_dict_sorted)
user1_dict_sorted

[('221', 1),
 ('182', 1),
 ('192', 1),
 ('193', 1),
 ('225', 1),
 ('27', 1),
 ('28', 1),
 ('68', 1),
 ('203', 1),
 ('279', 1),
 ('82', 1),
 ('271', 1),
 ('74', 1),
 ('29', 1),
 ('108', 1),
 ('235', 2),
 ('30', 2),
 ('237', 2),
 ('220', 2),
 ('205', 2),
 ('4', 2),
 ('161', 2),
 ('71', 2),
 ('236', 3),
 ('26', 3),
 ('24', 3),
 ('232', 3),
 ('52', 3),
 ('135', 3),
 ('189', 4),
 ('201', 4),
 ('230', 4),
 ('229', 4),
 ('14', 4),
 ('226', 6),
 ('31', 6),
 ('219', 9),
 ('222', 10),
 ('207', 10),
 ('49', 14),
 ('238', 14),
 ('240', 15),
 ('224', 16),
 ('241', 16),
 ('227', 18),
 ('233', 20),
 ('228', 23),
 ('246', 57)]

In [108]:
df_test

,user_id,question_id,question_type,group_name,track_name,subtrack_name,tag_string,round_started_at,answered_at,deactivated_at,game_type,num_players,date_of_test,question_set_id
0,0,5186,0,0,2,10,62 91 127 206,2011-08-26 16:58:47,2011-08-26 16:59:01,2011-08-26 16:59:03,7,1,NaN,3049
1,1,547,0,1,4,9,36 77 82 161 205,2011-02-14 08:10:03,2011-02-14 08:11:17,2011-02-14 08:11:18,2,1,NaN,1859
2,2,1613,0,0,2,10,62 122 206 253,2011-11-08 16:31:28,2011-11-08 16:31:34,2011-11-08 16:31:36,5,1,NaN,3142
3,4,2545,0,1,5,0,28 49,2010-02-09 04:52:29,2010-02-09 04:53:17,2010-02-09 04:53:30,7,2,2010-05-24,1239
4,5,2303,0,2,8,3,101 103 275,2011-01-17 18:22:30,2011-01-17 18:23:00,2011-01-17 18:23:02,7,1,NaN,455
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93095,179096,1290,0,2,6,7,53 131 159 279,2011-10-18 03:41:24,2011-10-18 03:41:31,2011-10-18 03:41:31,10,1,NaN,875
93096,179097,5667,0,1,4,1,4 14 20 52 74 262,2009-04-23 11:25:58,2009-04-23 11:27:21,2009-04-23 11:27:21,7,2,NaN,2468
93097,179098,66,0,2,7,8,145 177 200,2011-05-24 20:53:59,2011-05-24 20:54:40,2011-05-24 20:54:41,7,1,NaN,600
93098,179101,972,0,0,3,12,34 39 50 129 212 243,2010-11-24 22:03:38,2010-11-24 22:03:51,2010-11-24 22:03:52,7,1,NaN,1115
93099,179104,4891,0,2,7,8,145 179 186 190,2011-10-24 23:12:05,2011-10-24 23:13:25,2011-10-24 23:13:39,5,1,NaN,590

In [109]:
df_test_sorted

,user_id,question_id,question_type,group_name,track_name,subtrack_name,tag_string,round_started_at,game_type,num_players,date_of_test,question_set_id
0,0,2928,MultipleChoiceOneCorrect,act,ACT Reading,Reading,Author's Purpose or Method|Humanities|Meaning-...,2011-08-26 16:59:06,PracticeGame,1,NaN,687
1,1,1668,MultipleChoiceOneCorrect,gmat,GMAT Quantitative,Problem Solving,Algebra|Interest|Problem Solving|Word Problems,2011-02-14 08:11:20,CompetitiveGame,1,NaN,2952
2,2,4629,MultipleChoiceOneCorrect,act,ACT Reading,Reading,Main Idea of Paragraph or Passage|Order and Or...,2011-11-08 16:31:36,DiagnosticGame,1,NaN,701
3,4,2488,MultipleChoiceOneCorrect,gmat,GMAT Verbal,Critical Reasoning,CR: Resolve Argument|Critical Reasoning,2010-02-09 04:53:41,PracticeGame,2,2010-05-24,2256
4,5,4505,MultipleChoiceOneCorrect,sat,SAT Writing,Improving Sentences,Improving Sentences|Parallel Structure|Word ch...,2011-01-17 18:23:14,PracticeGame,1,NaN,1318
...,...,...,...,...,...,...,...,...,...,...,...,...
82921,181697,1609,MultipleChoiceOneCorrect,sat,SAT Writing,Improving Sentences,Conjunctions|Improving Sentences,2011-11-28 21:58:24,PracticeGame,1,NaN,1314
82922,181698,2315,MultipleChoiceOneCorrect,sat,SAT Writing,Improving Sentences,Comparisons|Improving Sentences|Parallel Struc...,2011-11-23 23:54:00,DiagnosticGame,1,NaN,1266
82923,181699,1483,MultipleChoiceOneCorrect,gmat,GMAT Verbal,Sentence Correction,SC: Agreement|SC: Logical Predication/Modifica...,2011-11-27 15:19:49,ReviewGame,1,NaN,2585
82924,181701,1329,MultipleChoiceOneCorrect,gmat,GMAT Verbal,Sentence Correction,SC: Parallelism|Sentence Correction,2011-11-22 05:05:44,CustomGame,1,NaN,2655
82925,181702,1917,MultipleChoiceOneCorrect,sat,SAT Reading,Sentence Completion,SC: Difficult Vocabulary|SC: One Blank|Sentenc...,2011-11-26 19:02:20,DiagnosticGame,1,NaN,896

### This is all the information associated with a given question_id, for all users that answered that question.

In [110]:
df_question = df_test_sorted.loc[df_test_sorted['question_id'] == 5560]
df_question

,user_id,question_id,question_type,group_name,track_name,subtrack_name,tag_string,round_started_at,game_type,num_players,date_of_test,question_set_id
5677,12393,5560,MultipleChoiceOneCorrect,gmat,GMAT Verbal,Sentence Correction,SC: Diction|SC: Parallelism|SC: Verb Form|Sent...,2010-08-17 10:14:40,PracticeGame,1,2009-12-14,2669
7227,15763,5560,MultipleChoiceOneCorrect,gmat,GMAT Verbal,Sentence Correction,SC: Diction|SC: Parallelism|SC: Verb Form|Sent...,2009-11-05 23:27:15,DiagnosticGame,1,2010-02-14,2669
7884,17250,5560,MultipleChoiceOneCorrect,gmat,GMAT Verbal,Sentence Correction,SC: Diction|SC: Parallelism|SC: Verb Form|Sent...,2009-11-07 02:43:51,DiagnosticGame,1,2009-11-23,2669
14884,32577,5560,MultipleChoiceOneCorrect,gmat,GMAT Verbal,Sentence Correction,SC: Diction|SC: Parallelism|SC: Verb Form|Sent...,2009-11-06 00:29:29,DiagnosticGame,1,2010-11-21,2669
21432,46977,5560,MultipleChoiceOneCorrect,gmat,GMAT Verbal,Sentence Correction,SC: Diction|SC: Parallelism|SC: Verb Form|Sent...,2011-06-22 16:00:01,CustomGame,6,NaN,2669
24724,54227,5560,MultipleChoiceOneCorrect,gmat,GMAT Verbal,Sentence Correction,SC: Diction|SC: Parallelism|SC: Verb Form|Sent...,2011-06-06 20:54:04,CustomGame,2,NaN,2669
39426,86705,5560,MultipleChoiceOneCorrect,gmat,GMAT Verbal,Sentence Correction,SC: Diction|SC: Parallelism|SC: Verb Form|Sent...,2010-06-19 00:51:26,DiagnosticGame,1,NaN,2669
49721,109176,5560,MultipleChoiceOneCorrect,gmat,GMAT Verbal,Sentence Correction,SC: Diction|SC: Parallelism|SC: Verb Form|Sent...,2011-08-17 04:30:59,CustomGame,3,NaN,2669
54880,120511,5560,MultipleChoiceOneCorrect,gmat,GMAT Verbal,Sentence Correction,SC: Diction|SC: Parallelism|SC: Verb Form|Sent...,2009-11-02 13:46:23,DiagnosticGame,1,NaN,2669
65502,144381,5560,MultipleChoiceOneCorrect,gmat,GMAT Verbal,Sentence Correction,SC: Diction|SC: Parallelism|SC: Verb Form|Sent...,2010-01-06 20:43:24,PracticeGame,1,NaN,2669
66647,146879,5560,MultipleChoiceOneCorrect,gmat,GMAT Verbal,Sentence Correction,SC: Diction|SC: Parallelism|SC: Verb Form|Sent...,2009-11-01 18:06:28,DiagnosticGame,1,NaN,2669
69084,152351,5560,MultipleChoiceOneCorrect,gmat,GMAT Verbal,Sentence Correction,SC: Diction|SC: Parallelism|SC: Verb Form|Sent...,2009-11-04 18:00:22,DiagnosticGame,1,2010-03-06,2669
70330,155125,5560,MultipleChoiceOneCorrect,gmat,GMAT Verbal,Sentence Correction,SC: Diction|SC: Parallelism|SC: Verb Form|Sent...,2009-11-07 02:11:38,DiagnosticGame,1,NaN,2669
75988,167568,5560,MultipleChoiceOneCorrect,gmat,GMAT Verbal,Sentence Correction,SC: Diction|SC: Parallelism|SC: Verb Form|Sent...,2010-02-15 15:16:19,PracticeGame,1,2010-03-19,2669

### Similarly to the tag id, this is the string version of which tags are associated with each question

In [111]:
question_tag = []
for tag in df_question['tag_string']:
    question_tag.append(tag)
# testList2 = []

# for i in testList:
#     for j in i.split():
#         testList2.append(j)

In [112]:

question_tag
for i in question_tag:
    print(i.split('|'))

['SC: Diction', 'SC: Parallelism', 'SC: Verb Form', 'Sentence Correction']
['SC: Diction', 'SC: Parallelism', 'SC: Verb Form', 'Sentence Correction']
['SC: Diction', 'SC: Parallelism', 'SC: Verb Form', 'Sentence Correction']
['SC: Diction', 'SC: Parallelism', 'SC: Verb Form', 'Sentence Correction']
['SC: Diction', 'SC: Parallelism', 'SC: Verb Form', 'Sentence Correction']
['SC: Diction', 'SC: Parallelism', 'SC: Verb Form', 'Sentence Correction']
['SC: Diction', 'SC: Parallelism', 'SC: Verb Form', 'Sentence Correction']
['SC: Diction', 'SC: Parallelism', 'SC: Verb Form', 'Sentence Correction']
['SC: Diction', 'SC: Parallelism', 'SC: Verb Form', 'Sentence Correction']
['SC: Diction', 'SC: Parallelism', 'SC: Verb Form', 'Sentence Correction']
['SC: Diction', 'SC: Parallelism', 'SC: Verb Form', 'Sentence Correction']
['SC: Diction', 'SC: Parallelism', 'SC: Verb Form', 'Sentence Correction']
['SC: Diction', 'SC: Parallelism', 'SC: Verb Form', 'Sentence Correction']
['SC: Diction', 'SC: Parallelism', 'SC: Verb Form', 'Sentence Correction']

In [113]:
question_tag = question_tag[0]

In [114]:
question_tag

'SC: Diction|SC: Parallelism|SC: Verb Form|Sentence Correction'

In [115]:
### Loop through each user in training.csv
###### Loop through each question 
###### get question ID 
###### cross reference with test.csv to get string
########## count number of times a string appears